<div class="row justify-content-md-left">
  <div class="col-sm-12 col-md-4">
    <div class="card">
      <div class="card-block">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td><%=current_order.user_message(Product.product_selected?)%></td>
            </tr>
            <tr>
              <td><%=current_order.coin_return(Product.product_selected?)%></td>
            </tr>
          </tbody>
        </table>
        <%= button_to "Return Coins", edit_order_path(current_order), :class=> "btn btn-primary", :method => :get %>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-8">
    <li>Click on a coin to insert it.</li>
    <li>Click on a product to select it. If you've changed your mind, click on the product again, and you'll be able to see the rest of the products again.</li>
    <li>If you have made a successful purchase, or if the product you wish to purchase is sold out, please wait a few seconds for a page redirect.</li>
    <li>Machine always starts off with zero quarters, zero nickels, and zero dimes, and will not guarantee change unless a user has made a successful purchase with one of each.</li>
    <li>Note: program is supposed to restore bottom pictures of coins at the end of each round. I purposely designed the program this way for the sake of being able to make a purchase as many times as desired.</li>
  </div>
  </div>

<div class="container">
  <div class="row">
    <% if @products.all? {|product| product.selected == false } %>
    <% @products.each {|product| %>
      <div class="col-sm-12 col-md-4">
        <div class="text-center card" style="width: 7rem;">
          <%=link_to image_tag(product.product_image.url(:med)), edit_product_path(product)%>
          <div class="card-block">
            <p class="card-text"><%= product.name %></p>
            <p class="card-text">$<%= '%.2f' % product.price %></p>
          </div>
        </div>
     </div>
    <%}%>
    <%elsif Product.product_selected?%>
      <div class="col-sm-12 col-md-4">
        <div class="text-center card" style="width: 7rem;">
          <%=link_to image_tag(Product.product_selected?.product_image.url(:med)), edit_product_path(Product.product_selected?)%>
          <div class="card-block">
            <p class="card-text"><%= Product.product_selected?.name %></p>
            <p class="card-text">$<%= '%.2f' % Product.product_selected?.price %></p>
          </div>
        </div>
     </div>
    <%end%>
  </div>

  <div class="row">
    <% @coins.each {|coin| %>
      <div class="col-md-2">
        <%if Coin.all_valid_coins.include?(coin)%>
          <%= link_to(image_tag(coin.coin_image, :class => "coin-hidden"), edit_coin_path(coin)) %>
        <%else%>
          <%= link_to(image_tag(coin.coin_image, :class => "coin"), edit_coin_path(coin)) %>
        <%end%>
      </div>
    <%}%>
  </div>
</div>
