
  <div class="row justify-content-md-left">
    <div class="card">
      <div class="card-block">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td><%=current_order.user_message(Product.product_selected?)%></td>
            </tr>
            <% if current_order.coin_return == nil %>
            <tr>
              <td>No return change at this time.</td>
            </tr>
            <%else%>
            <tr>
              <td>Returning:</td>
            </tr>
            <tr>
              <%current_order.coin_return.each{|coin_name, coin_quantity| %>
                  <td><%="#{coin_name}"%></td>
                  <td><%="#{coin_quantity}"%></td>
                <%}%>
            </tr>
            <%end%>
          </tbody>
        </table>
        <%= button_to "Return Coins", edit_order_path(current_order), :class=> "btn btn-primary", :method => :get %>
      </div>
    </div>
  </div>
<div class="container">
  <div class="row">
    <% @products.each {|product| %>
      <div class="col-sm-12 col-md-4">
        <div class="text-center card" style="width: 7rem;">
          <%=link_to image_tag(product.product_image.url(:med)), edit_product_path(product)%>
          <div class="card-block">
            <p class="card-text"><%= product.name %></p>
            <p class="card-text">$<%= '%.2f' % product.price %></p>
          </div>
        </div>
     </div>
    <%}%>
  </div>

  <div class="row">
    <% @coins.each {|coin| %>
      <div class="col-md-2">
        <%if Coin.all_valid_coins.include?(coin)%>
          <%= link_to(image_tag(coin.coin_image, 'data-type' => 'json', :class => "coin-hidden"), edit_coin_path(coin)) %>
        <%else%>
          <%= link_to(image_tag(coin.coin_image, 'data-type' => 'json', :class => "coin"), edit_coin_path(coin)) %>
        <%end%>
      </div>
    <%}%>
  </div>
</div>
