<div class="container">
  <div class="row">
    <% @products.each {|product| %>
      <div class="col-sm-12 col-md-4">
        <div class="text-center card" style="width: 7rem;">
          <%=link_to image_tag(product.product_image.url(:med)), edit_product_path(product)%>
          <div class="card-block">
            <p class="card-text"><%= product.name %></p>
            <p class="card-text">$<%= '%.2f' % product.price %></p>
          </div>
        </div>
     </div>
    <%}%>
  </div>

  <div class="row">
    <% @coins.each {|coin| %>
      <div class="col-md-2">
        <%if Coin.all_valid_coins.include?(coin)%>
          <%= link_to(image_tag(coin.coin_image, 'data-type' => 'json', :class => "coin-hidden"), edit_coin_path(coin)) %>
        <%else%>
          <%= link_to(image_tag(coin.coin_image, 'data-type' => 'json', :class => "coin"), edit_coin_path(coin)) %>
        <%end%>
      </div>
    <%}%>
  </div>

  <div class="row">
      <% if current_order.coin_return == nil %>
        <p>No return change at this time.</p>
          <%else%>
          <p>Returning: </p>
            <%current_order.coin_return.each{|coin_name, coin_quantity| %>
                <%="#{coin_name} - #{coin_quantity}"%>
              <%}%>
        <%end%>
  </div>

</div>
