<!DOCTYPE html>
<html>
  <head>
    <title>Vending Machine Kata</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-faded">
      <span>
        Vending Machine
          <%=current_order.user_message(Product.product_selected?)%>
          <%= button_to "Return Coins", edit_order_path(current_order), :class=> "btn btn-primary", :method => :get %>
      </span>
    </nav>
    <%= yield %>
    <%if current_order.purchased == true %>
     <script type="text/javascript">
      window.setTimeout(function(){
          window.location.href = "http://localhost:3000/orders/new";
        }, 3000);
      </script>
    <%end%>
  </body>
</html>
